[Desktop Entry]
Actions=GoToNextSibling
Type=Service
MimeType=all/all;
X-KDE-MaxNumberOfUrls=1
X-KDE-Priority=TopLevel

[Desktop Action GoToNextSibling]
Name=Go to Next Sibling Folder
Icon=go-next
Exec=python3 "/home/[USER]/.local/bin/navigate-sibling.py" next
Terminal=false
