[Desktop Entry]
Actions=GoToPrevSibling
Type=Service
MimeType=all/all;
X-KDE-MaxNumberOfUrls=1
X-KDE-Priority=TopLevel

[Desktop Action GoToPrevSibling]
Name=Go to Previous Sibling Folder
Icon=go-previous
Exec=python3 "/home/[USER]/.local/bin/navigate-sibling.py" prev
Terminal=false
